<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieYAY</title>
  <style>
    footer,form h1{text-align:center}footer p,nav a{color:#fff}body,div,footer,form,h1,html,li,nav,p,ul{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:0 0}footer,nav{padding:1rem;background-color:#d32f2f;display:block}.home,body,form{display:flex}html{box-sizing:border-box;overflow-y:scroll;height:100%}*,:after,:before{box-sizing:inherit}ul{list-style:none}input{vertical-align:middle;font-size:inherit}button,input{margin:0;border:0}button::-moz-focus-inner{padding:0;border:0}body{min-height:100%;flex-direction:column;font-family:Lato,sans-serif;background-color:#fffffb}main{flex:1}nav a{padding-right:2em;text-decoration:none}nav ul{text-align:right}form{flex-direction:column;margin:0 auto}form h1{margin:1.5rem;font-size:1.7em}input[type=text]{font-size:2em;margin:0 1rem 5px;height:4rem;border:1px solid #DBDBDB;box-shadow:0 1px 3px 0 rgba(0,0,0,.08)}button[type=submit]{margin:0 1rem 2rem;height:2.5rem;background-color:#d32f2f;color:#fff;font-size:1em}.home{flex-wrap:wrap;justify-content:center}
  </style>
</head>
