<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>
<form action="/" method="post">
  <h1>Which movie are you looking for?</h1>
  <input type="text" name="query" placeholder="ex. pulp fiction">
  <button type="submit">Search...</button>
</form>
